<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2">银行名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="name" name="row[name]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="pkg" class="control-label col-xs-12 col-sm-2">包名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="pkg" name="row[pkg]" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="regex" class="control-label col-xs-12 col-sm-2">正则表达式:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="regex" name="row[regex]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="control-label col-xs-12 col-sm-2">示例:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="text" name="row[text]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-xs-12 col-sm-2">邮箱:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="email" name="row[email]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">应用密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="password" name="row[password]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="host" class="control-label col-xs-12 col-sm-2">host:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="host" name="row[host]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="port" class="control-label col-xs-12 col-sm-2">port:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="port" name="row[port]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label for="poster" class="control-label col-xs-12 col-sm-2">限制发送者邮箱:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="poster" name="row[poster]" placeholder="" value="" data-rule="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">收款类型:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[notice_type]', $noticeList, null, ['class'=>'form-control selectpicker', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['0'=>'禁用','1'=>__('Normal')])}
        </div>
    </div>
    <div class="form-group">
        <label for="checksum" class="control-label col-xs-12 col-sm-2">谷歌验证码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="checksum" name="row[checksum]" autocomplete="off" value="" data-rule="required" />
        </div>
    </div>
    
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
