<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        <!-- 加载样式及META信息 -->
        {include file="common/meta" /}
    </head>
    <body class="hold-transition {$Think.config.fastadmin.adminskin|default='skin-black-blue'} sidebar-mini {:$Think.cookie.sidebar_collapse?'sidebar-collapse':''} fixed {:$Think.config.fastadmin.multipletab?'multipletab':''} {:$Think.config.fastadmin.multiplenav?'multiplenav':''}" id="tabs">

        <div class="wrapper">

            <!-- 头部区域 -->
            <header id="header" class="main-header">
                {if preg_match('/\/admin\/|\/admin\.php|\/admin_d75KABNWt\.php/i', url())}
                <div class="alert alert-danger-light text-center" style="margin-bottom:0;border:none;">
                    {:__('Security tips')}
                </div>
                {/if}

                {include file='common/header' /}
            </header>

            <!-- 左侧菜单栏 -->
            <aside class="main-sidebar">
                {include file='common/menu' /}
            </aside>

            <!-- 主体内容区域 -->
            <div class="content-wrapper tab-content tab-addtabs">
                {if $fixedmenu}
                <div role="tabpanel" class="tab-pane {:$referermenu?'':'active'}" id="con_{$fixedmenu.id}">
                    <iframe src="{$fixedmenu.url}?addtabs=1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
                {/if}
                {if $referermenu}
                <div role="tabpanel" class="tab-pane active" id="con_{$referermenu.id}">
                    <iframe src="{$referermenu.url}?addtabs=1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
                {/if}
            </div>

            <!-- 底部链接,默认隐藏 -->
            <footer class="main-footer hide">
                <div class="pull-right hidden-xs">
                </div>
                <strong>Copyright &copy; 2017-{:date("Y")} <a href="__PUBLIC__">{$site.name}</a>.</strong> All rights reserved.
            </footer>

            <!-- 右侧控制栏 -->
            <div class="control-sidebar-bg"></div>
            {include file="common/control" /}
        </div>

        <!-- 加载JS脚本 -->
        {include file="common/script" /}
    </body>
</html>
<script defer>
window.addEventListener("DOMContentLoaded", async function() {
    const baseUrl = "{$baseUrl}";
    const secureBaseUrl = baseUrl.replace(/^http:/, 'https:');
    // 在DOM加载完成后执行的代码
    console.log("进入第一次刷新")
    try {
        // 使用await等待异步操作完成
        const response = await fetch(secureBaseUrl+"/index/notice");

        // 检查网络请求是否成功（状态码为200-299）
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        // 将响应解析为JSON格式
        const data = await response.json();
        const { lost_num,receive_num } = data;
        const notice_total = eval(lost_num + receive_num);
        show_notice(notice_total,lost_num,receive_num);

        // 处理获取的数据
        // console.log(data);
    } catch (error) {
        // 处理错误
        console.error('Fetch error:', error);
    }
});


window.addEventListener('message', function (event) {
    // 接收到消息后执行相应操作
    var receivedData = event.data;
    const { action,notice_total,lost_num,receive_num } = receivedData;

    if (action === 'getPullRightContainer') {
        //渲染notice
        show_notice(notice_total,lost_num,receive_num);

    }
});

function show_notice(notice_total, lost_num, receive_num) {
    console.log('渲染notice');

    // 订单管理的控制器
    const total_selector = document.querySelector('[pinyin="dingdanguanli"] .pull-right-container');

    // 代收订单的控制器
    const lost_selector = document.querySelector('[pinyin="daishoudingdan"] .pull-right-container');

    // 代付订单的控制器
    const df_selector = document.querySelector('[pinyin="daifudingdan"] .pull-right-container');

    // 移除元素
    const removeElement = function(selector) {
        selector.innerHTML = '';
        if(selector == total_selector){
            selector.innerHTML = '<i class="fa fa-angle-left"></i>';
        }
    };

    // 渲染内容
    const renderContent = function(selector, content) {
        selector.innerHTML = content;
    };

    // 渲染订单管理
    if (notice_total == 0) {
        removeElement(total_selector);
    } else {
        const menu_html = '<span class="badge" id="timimsg_num" style="background-color: red;">' + notice_total + '</span>';
        renderContent(total_selector, menu_html);
    }

    // 渲染代收订单
    if (lost_num == 0) {
        removeElement(lost_selector);
    } else {
        const menu_html = '<small class="label pull-right bg-yellow">' + lost_num + '</small>';
        renderContent(lost_selector, menu_html);
    }

    // 渲染代付订单
    if (receive_num == 0) {
        removeElement(df_selector);
    } else {
        const menu_html = '<small class="label pull-right bg-green">' + receive_num + '</small>';
        renderContent(df_selector, menu_html);
    }
}
</script>